<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <script src="https://apis.google.com/js/platform.js" async defer></script>

    <title>Cricket World</title>
    <meta name="google-signin-client_id" content="449649727788-j7cjr11o3jop3u2o2m31kbg11mqh199i.apps.googleusercontent.com">
</head>
<body background="../../webapp/img/cricket.jpeg">

<div class="g-signin2" data-onsuccess="onSignIn"></div>

<object data="https://www.youtube.com/embed/_QvKEtLWdM4"
        width="560" height="315"></object>



</body>
</html>
